<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Reserve</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <center>
        <br><br>
        <a class="btn btn-primary" href="/ShowData">Show Data</a>
        <a class="btn btn-secondary" href="/">Logout</a>
        <br><br><br>
        <table>
            <tbody>
                <% x=1; datatabelid.forEach(function(item) {  if(x==5){x=1} if(x==1){ %>
                    <tr>
                        <% } %>
                            <td>
                                <% if(item.Status == 'Free'){ %>
                                    <a class="btn btn-success" onclick="myFunction('<%= item.No %>')">
                                        <%= item.No %>
                                    </a>
                                    <% } else if(item.Status == 'Reserve'){ %>
                                        <a class="btn btn-warning">
                                            <%= item.No %>
                                        </a>
                                        <% } else if(item.Status == 'Full'){ %>
                                            <a class="btn btn-danger">
                                                <%= item.No %>
                                            </a>
                                            <% } %>
                            </td>
                            <!-- </tr> -->
                            <% x++ }); %>
            </tbody>
    </center>
    </table>
</body>
<script>
    function myFunction(IdA) {
        swal({
                title: "คุณต้องการที่จะจองหรือไม่?",
                text: "เมื่อคุณจองแล้วจะขึ้นสีเหลือและไม่สามารถจองได้อีก",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("ทำรายการเรียบร้อย", {
                        icon: "success",
                    }).then(okay => {
                        if (okay) {
                            window.location.href = "/Send?id=" + IdA
                        }
                    });
                }
            });
    }
</script>

</html>